
.dc-select	{
	width: 180px;
    margin-top: 10px;  
    margin-bottom: 10px;  
}

.inputtext {
    width: 180px;
    margin-top: 10px;  
    margin-bottom: 10px;  
}

.inputtextarea {
    width: 180px; 
    margin-top: 10px;  
    margin-bottom: 10px;  
}

.dc-label {
    margin-top: 10px;  
    margin-bottom: 10px;      	
}

.dc-button {
    margin-top: 10px;  
    margin-bottom: 10px;      	
}



@media screen and (min-width: 900px) {
    .dc-select	{
    	width: 500px;
        margin-top: 20px;  
        margin-bottom: 20px;  
    }

    .inputtext {
        width: 500px;
        margin-top: 20px;  
        margin-bottom: 20px;  
    }

    .inputtextarea {
        width: 500px; 
        margin-top: 20px;  
        margin-bottom: 20px;  
    }

    .dc-label {
        margin-top: 20px;  
        margin-bottom: 20px;      	
    }

    .dc-button {
        margin-top: 20px;  
        margin-bottom: 20px;      	
    }

}